* {
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    background-color: #252733;
    color: white;
    height: 5rem;
    line-height: 5rem;   
    font-weight: 500;
}

.choice {
    height: 155px;
    width: 155px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover {
    background-color:#252733 ;
    cursor: pointer;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;

}

#user-score,#comp-score {
    font-size: 4rem;
}
.msg-container {
    margin-top: 5rem;
}

#msg {
    background-color:#252733;
    color: white;
    font-size: 2rem;
    margin-top: 5rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
    font-weight: 300;
    /* border: 1px solid black; */
    box-shadow: inset;
}

body {
    background-color: #ffffff;
}
